Source: ros-iron-rmf-visualization
Section: misc
Priority: optional
Maintainer: Yadunund <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-rmf-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-launch-xml, ros-iron-rmf-visualization-building-systems, ros-iron-rmf-visualization-fleet-states, ros-iron-rmf-visualization-floorplans, ros-iron-rmf-visualization-navgraphs, ros-iron-rmf-visualization-obstacles, ros-iron-rmf-visualization-rviz2-plugins, ros-iron-rmf-visualization-schedule, ros-iron-ros-workspace
Description: Package containing a single launch file to bringup various visualizations
