Source: ros-lyrical-rmf-visualization-fleet-states
Section: misc
Priority: optional
Maintainer: Morgan Quigley <mquigley@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rmf-fleet-msgs, ros-lyrical-rmf-utils <!nocheck>, ros-lyrical-rmf-visualization-msgs, ros-lyrical-visualization-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rmf_visualization_fleet_states/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rmf-visualization-fleet-states
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rmf-fleet-msgs, ros-lyrical-rmf-visualization-msgs, ros-lyrical-visualization-msgs, ros-lyrical-ros-workspace
Description: A package to visualize positions of robots from different fleets in the a building
