Source: ros-rolling-rmf-visualization-rviz2-plugins
Section: misc
Priority: optional
Maintainer: yadu <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, qtbase5-dev, ros-rolling-ament-cmake, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-resource-retriever, ros-rolling-rmf-door-msgs, ros-rolling-rmf-lift-msgs, ros-rolling-rmf-traffic-ros2, ros-rolling-rmf-visualization-msgs, ros-rolling-rviz-common, ros-rolling-rviz-default-plugins, ros-rolling-rviz-rendering, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmf-visualization-rviz2-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-resource-retriever, ros-rolling-rmf-door-msgs, ros-rolling-rmf-lift-msgs, ros-rolling-rmf-traffic-ros2, ros-rolling-rmf-visualization-msgs, ros-rolling-rviz-common, ros-rolling-rviz-default-plugins, ros-rolling-rviz-rendering, ros-rolling-ros-workspace
Description: A package to create custom plugins for rviz2
